.wrapper {
  .img {
    text-align: center;
    margin-bottom: 40px;
    img {
      max-width: 50%;
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40rem;
    max-width: 90%;
    margin: auto;
    box-shadow: 5px 3px 13px 6px rgb(0 0 0 / 20%);
    padding: 40px;
    border-radius: 10px;
  }
}
